.Add {
  width: 573px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
}
.Add form.create-question > * {
  display: block;
  width: 500px;
  margin: 10px auto 0 auto;
};
