.Poll .header {
  text-align: left;
  margin-bottom: 10px;
}

.PollOptions .poll-form > *:not(button) {
  display: block;
  text-align: left;
}

.PollResults > * {
  margin-bottom: 10px;
}

.PollResults .option {
  position: relative;
}

.PollResults .option .question {
  margin-bottom: 10px;
  padding: 0 30px 0 0;
  text-align: left;
}

.PollResults .option .user-vote {
  position: absolute;
  font-size: 10px;
  top: -10px;
  right: 0;
}

.PollResults .progress-bar {
  width: 400px;
}
.PollResults .progress-bar span {
  position: absolute;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
}
.PollResults .user-vote {
  background: lightblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}