.Poll .header {
  text-align: left;
  margin-bottom: 10px;
}

.PollOptions .poll-form > *:not(button) {
  display: block;
  text-align: left;
}

.PollResults > * {
  margin-bottom: 10px;
};

.PollResults .option {
  position: relative;
}

.PollResults .user-vote {
  position: absolute;
  font-size: 10px;
}

.PollResults .progress-bar {
  width: 400px;
}
.PollResults .progress-bar span {
  position: absolute;
}
.PollResults .user-vote {
  background: lightblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}