.LeaderBoard .user {
  display: flex;
  width: 573px;
  margin: 10px auto 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
}
.LeaderBoard .user-info {
  position: relative ;
  flex-grow: 1;
}
.LeaderBoard .user-info .header {
  margin-bottom: 10px;
  border-bottom: solid;
  text-align: left;
  font-weight: 600;
}
.LeaderBoard .user-info .user-score {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}
.LeaderBoard .user-info .user-score .score-number {
  font-size: 30px;
  font-weight: 600;
}
